GENESIS_COINBASE_TX_HEX=
seed-node=45.63.121.98:38828
EMISSION_SPEED_FACTOR=18
DIFFICULTY_TARGET=120
CRYPTONOTE_DISPLAY_DECIMAL_POINT=12
MONEY_SUPPLY=1023000000
DEFAULT_DUST_THRESHOLD=10000
MINIMUM_FEE=10000
CRYPTONOTE_MINED_MONEY_UNLOCK_WINDOW=200
CRYPTONOTE_BLOCK_GRANTED_FULL_REWARD_ZONE=20000
CRYPTONOTE_PUBLIC_ADDRESS_BASE58_PREFIX=161
p2p-bind-port=10230
rpc-bind-port=10240
BYTECOIN_NETWORK=daf0d502-6c4f-ff50-6595-dc83f1865431
CRYPTONOTE_NAME=Tavo
UPGRADE_HEIGHT=1
